<div class="pure-g">
  <div class="pure-u-1 pure-u-md-3-4">
    {% if realm %}
    <a href="/"><div class="title">#timeismoney</div></a>
    {% else %}
    <a href="/"><div class="title">#timeismoney</div></a>
    {% endif %}
  </div>
  <div class="pure-u-1 pure-u-md-1-4">
    {% if realm %}
    <script>
      $(document).ready(function(){
        date_modified = Date.parse("{{ realm.dateModified }}");
        time_modified = parseInt((Date.now() - date_modified) / 60000);
        console.log("{{ realm.dateModified }}");
        $("#realmdate").text(time_modified);
        //$("#realmdate").text(Highcharts.dateFormat('%e-%b', date_modified));
      });
    </script>
    <div class="realm-name">
      <a href="/{{ realm.slug }}/home" class="with-underline">{{ realm.name }}</a>
    </div>
    <div class="realm-details">
      Last modified: <span id="realmdate"></span> minutes ago
    </div>
    <div class="realm-details">
      Population: {{ realm.population }}
    </div>
    {% if connected_realms|length > 1 %}
    <div class="realm-details">
      Connected with:
      <ul>
      {% for each in connected_realms %}
        {% if realm.name != each.name %}
        <li>
          <a href="/{{ each.slug }}/item/{{ item.itemId }}" class="with-underline">{{ each.name }}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if aucCount %}
    <div class="realm-details">
      Active auctions: {{ aucCount }}
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>
